@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.header {
    position: relative;
    display: flex;
    justify-content: space-between; 
    height: 50px;
    align-items: center;
    padding: 5px 12px;
    z-index: 1000;
    font-family: Roboto;
    /* backdrop-filter: blur(20px);
    width: 100%;
    position: fixed; */
}

.left-sec {
    margin-left: 111px;
}

.middle-sec {
    display: flex;
    flex-direction: row;
    font-family: Poppins;
}

.middle-sec a {
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    color: #8C827D;
    font-family: Poppins;
    margin-right: 30px;
    position: relative; 
}

.middle-sec a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #8C827D;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; 
}

.middle-sec a:hover::after {
    width: 100%; 
}

.order-btn {
    font-weight: 500;
    background-color: #2E1E0A;
    color: #F7EBE1;
    font-size: 16px;
    border: none;
    padding: 8px 18px;
    border-radius: 3px;
}

.order-btn:hover {
    background-color: #4a3011; 
    color: #F7EBE1;
    cursor: pointer;
}


.right-sec {
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.user-icon {
    border-right: 2px solid #8C827D;
    padding: 5px;
}

.user-icon i {
    margin-right: 12px;
    cursor: pointer;
    color: #8C827D;
    display: flex;
    justify-content: center;
}

.user-icon .tooltip {
    position: absolute;
    font-size: 12px;
    font-family: Poppins;
    background-color: #333333; 
    color: #ffffff; 
    padding: 6px 12px;
    border-radius: 4px;
    bottom: -15px;
    visibility: hidden;   
}

.user-icon i:hover .tooltip {
     visibility: visible;
     pointer-events: none;
}

.cart-icon {
    padding: 5px;
    display: flex;
    align-items: center;
}

.cart-icon svg {
    margin-top: 3px;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
    color: #8C827D;
    height: 24px;
    width: 24px;
}

.cart-icon .tooltip {
    position: absolute;
    font-size: 12px;
    font-family: Poppins;
    background-color: #333333; 
    color: #ffffff; 
    padding: 6px 12px;
    border-radius: 4px;
    bottom: -15px;
    right: 55px;
    visibility: hidden;
}

.cart-icon:hover .tooltip {
    visibility: visible;
    pointer-events: none;
}

.cart-quantity {
    font-weight: 500;
    position: absolute;
    font-size: 11px;
    padding: 3px 6px;
    background-color: red;
    color: white;
    border-radius: 50%;
    top: 8px;
    right: 60px;
}