@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.location-content {
    position: relative;
    z-index: 200;
    bottom: -100%;
}

.location-content img {
    height: 621px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.location-content .title {
    position: absolute;
    text-align: center;
    max-width: 900px;
    margin: 48px auto;
}

.location-content .title h2 {
    font-size: 36px;
    color: #F7EBE1;
}

.location-content .title p {
    font-size: 16px;
    color: #F7EBE1;
    margin-bottom: 53px;
}

.location-modal {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 33%;
}

.location-modal .modal {
    padding: 15px;
    background-color: #FAF3E0; 
    width: 300px;
    margin-right: 21.5px;
    border: none;
    border-radius: 4px;
    height: 260px;
}

.location-modal .modal-header {
    text-align: center;
    border-bottom: 1px solid #5C5C5C;
    padding-bottom: 10px;
    font-weight: 500;
    color: #5C5C5C; 
    font-family: Poppins;
}

.location-modal .loc-direction a {
    color: #383838; 
    font-weight: 500;
    font-family: Poppins;
    font-size: 16px;
    text-decoration: none;
}

.location-modal .loc-direction {
    text-align: center;
}

.location-modal .loc-direction a:hover {
    color: #B2A1A1; 
}