
.popular-container {
    background-color: #fff;
    justify-content: center;
    padding: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
}

.popular-container .title {
    align-self: center;
    width: calc(58% - 0px);
}

.popular-container .title h2 {
    color: #0E0A06;
    font-family: Poppins;
    font-size: 38px;
    text-align: center;
}

.popular-container .title p {
    font-family: Poppins;
    font-size: 16px;
    text-align: center;
    justify-content: center;
}


.menus-container {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    padding: 10px 0;
    margin-top: 56px;
    flex-direction: row;
   justify-content: center;
}

.products-container {
    width: 363.95px;
    height: 540.47px;
    margin-right: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
    border:  2px solid #BBBBBB;
}


.products-container .for-img img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 399px;
    border-radius: 9px;
    align-items: center;
}

.products-container .prod-name .name {
    font-family: Poppins;
    font-size: 23px;
    font-weight: 500;
    display: inline-block;
}

.products-container .prod-name .price {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
}

.products-container .prod-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
}

.section-btn-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.section-btn-container .line {
    width: 37%;
    height: 2px;
    background: rgba(238, 238, 238, 0.6);
    
}

.popular-container .loadmore-btn {
    height: 50px;
    width: 137px;
    border: none;
    color: #FFFFFF;
    background-color: #2E1E0A;
    border-radius: 5px;
    font-family: Poppins;
    font-weight: 500;   
}

.loadmore-btn:hover {
    cursor: pointer;
}

/* HEART ICON */
.fav-icon {
    border: 0;
    cursor: pointer;
    position: absolute;
    padding: 9px 8px 3px 8px;
    background-color: #2d2d2d96;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

.fav-icon:focus {
    outline: none;
}

.fav-icon:hover {
    cursor: pointer;
}

.fav-icon svg {
    fill: transparent;
    color: white;
}

.fav-icon.active svg {
    fill: white;
}